{% extends 'base.html' %}

{% block content %}
    <h2>Acerca de mí</h2>
    <p>Bienvenido a mi blog. Este es el lugar donde comparto mis pensamientos sobre diversos temas. ¡Espero que lo disfrutes!</p>
{% endblock %}

<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">Acerca de mí</a></li>  <!-- Enlace a la página "Acerca de mí" -->
            <li><a href="/pages/">Páginas</a></li>
            <li><a href="/login/">Login</a></li>
            <li><a href="/signup/">Registro</a></li>
            <li><a href="/logout/">Logout</a></li>
        </ul>
    </nav>
</header>
