{% extends 'base.html' %}

{% block content %}
    <h2>Buscar Posts</h2>
    <form method="GET">
        {{ form.as_p }}
        <button type="submit">Buscar</button>
    </form>

    {% if resultados %}
        <h3>Resultados:</h3>
        <ul>
            {% for post in resultados %}
                <li><a href="{% url 'detalle_post' post.id %}">{{ post.titulo }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}
{% endblock %}
